@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap');

@theme {
   --font-weight-brand: 700;
   --font-jakarta:'Plus Jakarta Sans', sans-serif;
   --font-brr:'Mea Culpa'

}
body{
    font-family: var(--font-brr);
}